node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337


# remove the node_modules folder from the frontend folder
frontend/node_modules
frontend/.env
scripts/bot/node_modules
scripts/bot/.env